body
{
    font-family: segoe UI;
    background: #5cb85c;
    font-weight: bold;
}

.all
{
    text-align: center;
}

header
{
    font-size: 1.5em;
    margin-top: 10px;
    color: black;
}

form
{
    display: flex;
    width: 880px;
    justify-content: space-between;
    
}

section
{
    position: relative;
    width: 350px;
}

section > div > label
{
    position: absolute;
    left: 0px;
}

label
{
    color: black;
}

section > div
{
    margin-bottom: 10px;
}

aside
{
    margin-left: 20px;
}

aside > label, aside > input
{
    margin-bottom: 10px;
}

p, aside > h3, section > h3
{
    color: white;
}

#search_results
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#search_results > header
{
    
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

@media screen and (max-width: 658px)
{
    img
    {
        display: none;
    }
    
    
    form
    {
      border: 2px white solid;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 337px;
      margin: auto;
      margin-bottom: 50px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1024px)
{
  form
  {
      width: 710px;
  }  
}
