body
{
    font-family: segoe UI;
    background: #5cb85c;
}

div
{
    text-align: center;
}

caption
{
    caption-side: bottom;
    margin-top: 20px;
    color: white;
    text-align: center;
}

h1
{
   text-align: center;
   font-weight: bold;
   font-size: 2.5em;
   margin-bottom: 2px;
   color: white;
}

aside > h3, section > h3
{
    color: white;
}

#search_results > header
{
    
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
}

#search_results
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.label_value
{
    color: white;
}

table
{
    text-align: center;
}

th
{
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
}

tr
{
    font-size: 1.15em;
}

.no_result
{
    font-size: 2em;
    color: white;
}

a
{
    font-size: 1.2em;
    color: black;
}
